[user]
	name = Jasur Sadikov
	email = jasur@sadikoff.com
[credential]
	helper = store
[core]
	editor = code --wait
[init]
	defaultBranch = master
[fetch]
	prune = true
[includeIf "gitdir:~/Documents/work/"]
	path = ~/work.gitconfig
[diff]
	tool = rider
[difftool]
	prompt = false
[difftool "rider"]
    cmd = "rider" diff \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = rider
[mergetool]
    prompt = false
[mergetool "rider"]
	cmd = "rider" merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	a = "add ."
	am = "commit --amend -m"
	b = "checkout -b"
	c = "commit -m"
	clr = "!git -c color.ui=never fetch --prune && git -c color.ui=never branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
	d = "pull"
	discard = "!git reset --hard HEAD && git clean -df && git checkout -- ."
	f = "fetch"
	l = "log --oneline"
	p = "push"
	P = "push -f"
	pull = "git fetch && git merge origin --ff-only"
	st = "status"
	to = "checkout"
	u = "push -u origin HEAD"
